<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Liste des Secretaires</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <h1>Liste des Secretaires</h1>
        <!--<a th:href="@{/admin/secretaires/add}" class="btn btn-primary">Ajouter Secretaire</a>-->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="secretaire : ${secretaires}">
                <td th:text="${secretaire.nom}"></td>
                <td th:text="${secretaire.prenom}"></td>
                <td th:text="${secretaire.email}"></td>
                <td>
                    <a th:href="@{/admin/secretaires/edit/{id}(id=${secretaire.id})}" class="btn btn-warning">Modifier</a>
                    <a th:href="@{/admin/secretaires/delete/{id}(id=${secretaire.id})}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
