<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Des Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>Formulaire Des Patients</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{save}" class="col-md-10 offset-1">
                            <div class="form-group mb-3">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" id="nom" name="nom" th:value="${patient.nom}">
                                <span th:errors="${patient.nom}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="prenom">Prenom</label>
                                <input type="text" class="form-control" id="prenom" name="prenom" th:value="${patient.prenom}">
                                <span th:errors="${patient.prenom}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="tel">Téléphone</label>
                                <input type="text" class="form-control" id="tel" name="telephone" th:value="${patient.telephone}">
                                <span th:errors="${patient.telephone}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" th:value="${patient.email}">
                                <span th:errors="${patient.email}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="cin">CIN</label>
                                <input type="text" class="form-control" id="cin" name="cin" th:value="${patient.cin}">
                                <span th:errors="${patient.cin}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="dateNaissance">Date de Naissance</label>
                                <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" th:value="${patient.dateNaissance}">
                                <span th:errors="${patient.dateNaissance}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="mutuelle">Mutuelle</label>
                                <select class="form-select" id="mutuelle" name="mutuelle">
                                    <option th:each="mutuelle : ${T(ma.sninati.gestiondossiersmedicaux.entities.Enums.Mutuelle).values()}" th:value="${mutuelle}" th:text="${mutuelle}"></option>
                                </select>
                                <span th:errors="${patient.mutuelle}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="groupeSanguin">Groupe Sanguin</label>
                                <select class="form-select" id="groupeSanguin" name="groupeSanguin">
                                    <option th:each="groupe : ${T(ma.sninati.gestiondossiersmedicaux.entities.Enums.GroupeSanguin).values()}" th:value="${groupe}" th:text="${groupe}"></option>
                                </select>
                                <span th:errors="${patient.groupeSanguin}"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="dentiste">Dentiste Traitant</label>
                                <select class="form-select" id="dentiste" name="dentisteId">
                                    <option th:each="dentiste : ${dentistes}" th:value="${dentiste.id}" th:text="${dentiste.nom + ' ' + dentiste.prenom}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
