<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Liste Des Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link href="/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="/vendor/fontawesome-free/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/sb-admin-2.min.css">
    <style>
        .table-responsive {
            overflow-x: unset;
        }
        .table th, .table td {
            padding: 15px;
            vertical-align: middle;
        }
        .table thead th {
            background-color: #f8f9fc;
            color: #4e73df;
        }
        .table tbody tr:nth-of-type(odd) {
            background-color: #f8f9fc;
        }
        .table tbody tr:hover {
            background-color: #d1d3e2;
        }
    </style>
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste Des Patients</h6>
            </div>
            <div class="card-body">
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-1 my-2 my-md-0 mw-100 navbar-search mb-3"
                      method="get" th:action="@{patients}">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2" name="keyword" th:value="${keyword}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered w-100" id="dataTable">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom Complet</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>CIN</th>
                            <th>Date de Naissance</th>
                            <th>Mutuelle</th>
                            <th>Groupe Sanguin</th>
                            <th th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''SECRETAIRE'')')}">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="patient : ${listePatients}">
                            <td th:text="${patient.id}"></td>
                            <td th:text="${patient.nom + ' ' + patient.prenom}"></td>
                            <td th:text="${patient.telephone}"></td>
                            <td th:text="${patient.email}"></td>
                            <td th:text="${patient.cin}"></td>
                            <td th:text="${patient.dateNaissance}"></td>
                            <td th:text="${patient.mutuelle}"></td>
                            <td th:text="${patient.groupeSanguin}"></td>
                            <td th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''SECRETAIRE'')')}">
                                <div class="d-flex flex-column">
                                    <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger mb-2"
                                       th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                                       th:href="@{delete(id=${patient.id},keyword=${keyword},page=${currentPage})}">Supprimer</a>
                                    <a class="btn btn-success"
                                       th:href="@{editPatient(id=${patient.id},keyword=${keyword},page=${currentPage})}">Modifier</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:each="page,status:${pages}">
                            <a th:class="${status.index==currentPage?'btn btn-dark ms-1':'btn btn-outline-dark ms-1'}"
                               th:text="${status.index}"
                               th:href="@{patients(page=${status.index},keyword=${keyword})}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
