<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Liste Des Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <h1 class="mt-4">Liste Des Patients</h1>
        <form method="get" th:action="@{patients}">
            <label>Key Word</label>
            <input type="text" name="keyword" th:value="${keyword}">
            <button type="submit" class="btn btn-dark">Chercher</button>
        </form>
        <table class="table table-striped table-hover mt-4">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom Complet</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>CIN</th>
                <th>Date de Naissance</th>
                <th>Mutuelle</th>
                <th>Groupe Sanguin</th>
                <!--<th>Profession</th>-->
                <!--<th>Adresse</th>-->
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${listePatients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.nom + ' ' + patient.prenom}"></td>
                <td th:text="${patient.tel}"></td>
                <td th:text="${patient.email}"></td>
                <td th:text="${patient.cin}"></td>
                <td th:text="${patient.dateNaissance}"></td>
                <td th:text="${patient.mutuelle}"></td>
                <td th:text="${patient.groupeSanguin}"></td>
                <!--<td th:text="${patient.profession}"></td>-->
                <!--<td>
                    <div>
                        <span th:text="${patient.adresse.rue}"></span><br>
                        <span th:text="${patient.adresse.ville}"></span>,
                        <span th:text="${patient.adresse.codePostal}"></span><br>
                        <span th:text="${patient.adresse.pays}"></span>
                    </div>
                </td>-->
                <td>
                    <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger"
                       th:href="@{delete(id=${patient.id},keyword=${keyword},page=${currentPage})}">Supprimer</a>
                    <a  class="btn btn-success"
                       th:href="@{editPatient(id=${patient.id},keyword=${keyword},page=${currentPage})}">Modifier</a>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
                <a th:class="${status.index==currentPage?'btn btn-dark ms-1':'btn btn-outline-dark ms-1'}"
                   th:text="${status.index}"
                   th:href="@{patients(page=${status.index},keyword=${keyword})}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
