<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>1</title>
    <link href="/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="/vendor/fontawesome-free/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/sb-admin-2.min.css">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/patients}">
            <div class="sidebar-brand-icon">
            </div>
            <div class="sidebar-brand-text mx-3"><i class="fas fa-hospital-alt"></i>SNINATI</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/patients}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Tableau de bord</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading" th:if="${#authorization.expression('hasAnyRole(''DENTISTE'',''SECRETAIRE'')')}">
            Patients
        </div>
        <!-- Heading -->

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user-injured"></i>
                <span>Patients</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/patients}">Liste Des Patients</a>
                    <a class="collapse-item" th:href="@{/formPatients}" th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''SECRETAIRE'')')}">Formulaire Patient</a>
                </div>
            </div>
        </li>

        <div class="sidebar-heading" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            Gestion Des Utilisateurs
        </div>

        <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseDentistes"
               aria-expanded="true" aria-controls="collapseDentistes">
                <i class="fas fa-fw fa-user-md"></i>
                <span>Dentistes</span>
            </a>
            <div id="collapseDentistes" class="collapse" aria-labelledby="headingDentistes" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/dentistes}">Liste des Dentistes</a>
                </div>
            </div>
        </li>

        <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseSecretaires"
               aria-expanded="true" aria-controls="collapseSecretaires">
                <i class="fas fa-fw fa-user"></i>
                <span>Secrétaires</span>
            </a>
            <div id="collapseSecretaires" class="collapse" aria-labelledby="headingSecretaires" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/secretaires}">Liste des Secrétaires</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading" th:if="${#authorization.expression('hasRole(''DENTISTE'')')}">
            Gestion Dossier Medicale
        </div>


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" th:if="${#authorization.expression('hasRole(''DENTISTE'')')}">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseDossierMedicale"
               aria-expanded="true" aria-controls="collapseDossierMedicale">
                <i class="fas fa-fw fa-folder"></i>
                <span>Dossiers Medicaux</span>
            </a>
            <div id="collapseDossierMedicale" class="collapse" aria-labelledby="headingDossierMedicale" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Dossiers Médicaux:</h6>
                    <a class="collapse-item" th:href="@{/dentiste/dossierMedicale}">Liste des Dossiers</a>
                    <a class="collapse-item" th:href="@{/dentiste/dossierMedicale/consultations}">Liste des Consultations</a>
                    <a class="collapse-item" th:href="@{/dentiste/dossierMedicale/interventions}">Liste des Interventions</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Actes:</h6>
                    <a class="collapse-item" th:href="@{/dentiste/actes}">Liste des Actes</a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>



                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle"  id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                           aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.name}">[username]</span>
                            <i class="fas fa-user-circle fa-lg"></i> <!-- User icon instead of image -->
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/login}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Login
                            </a>
                            <form method="post" th:action="@{/logout}">
                                <button class="dropdown-item" type="submit" sec:authorize="isAuthenticated()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </button>
                            </form>
                        </div>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Section for custom content -->
                <section layout:fragment="content1"></section>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SNINATI 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>