<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template1}">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Consultation</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <h1>Ajouter Consultation</h1>
        <form th:action="@{/dentiste/dossierMedicale/consultations}" th:object="${consultation}" method="post">
            <div class="form-group">
                <label for="dateConsultation">Date de Consultation</label>
                <input type="date" id="dateConsultation" name="dateConsultation" class="form-control" th:field="*{dateConsultation}"/>
            </div>
            <div class="form-group">
                <label for="typeConsultation">Type de Consultation</label>
                <select id="typeConsultation" name="typeConsultation" class="form-control" th:field="*{typeConsultation}">
                    <option th:each="type : ${T(ma.sninati.gestiondossiersmedicaux.entities.Enums.TypeConsultation).values()}"
                            th:value="${type}" th:text="${type}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="dossierMedicale">Dossier Médical</label>
                <select id="dossierMedicale" name="dossierMedicale.id" class="form-control" th:field="*{dossierMedicale.id}">
                    <option th:each="dossier : ${dossiers}" th:value="${dossier.id}" th:text="${dossier.patient.nom + ' ' + dossier.patient.prenom}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
</div>
</body>
</html>
