<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template1}">
<head>
    <meta charset="UTF-8">
    <title>Liste des Consultations</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <h1>Liste des Consultations</h1>
        <a href="#" th:href="@{/dentiste/dossierMedicale/consultations/add}" class="btn btn-primary mb-3">Ajouter Consultation</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Date de Consultation</th>
                <th>Type de Consultation</th>
                <th>Dossier Médical</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="consultation : ${consultations}">
                <td th:text="${consultation.dateConsultation}"></td>
                <td th:text="${consultation.typeConsultation}"></td>
                <td th:text="${consultation.dossierMedicale.numeroDossier}"></td>
                <td>
                    <a th:href="@{/dentiste/dossierMedicale/consultations/edit/{id}(id=${consultation.idConsultation})}" class="btn btn-success">Modifier</a>
                    <a th:href="@{/dentiste/dossierMedicale/consultations/delete/{id}(id=${consultation.idConsultation})}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette consultation?')">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
